[Desktop Entry]
Encoding=UTF-8
Name=NeoBytes
Comment=NeoBytes P2P Cryptocurrency
Comment[fr]=NeoBytes, monnaie virtuelle cryptographique pair à pair
Comment[tr]=NeoBytes, eşten eşe kriptografik sanal para birimi
Exec=neobytes-qt %u
Terminal=false
Type=Application
Icon=neobytes128
MimeType=x-scheme-handler/neobytes;
Categories=Office;Finance;
