
# bitcoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
host=127.0.0.1
port=11426

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=3130000

# bootstrap.dat input/output settings (linearize-data)
netmagic=536e6f77
input=/home/example/.neobytescore/blocks
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt
split_year=1
genesis=00000cb14ca1b70af1ad67f4e2f478da3ea4eae76f95e4b6b60895478beacb79

# Maxmimum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 10000000
